body {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: minmax(20px, 1fr) 1120px minmax(20px, 1fr);
  grid-template-areas:
    ". header ."
    "nav nav nav"
    ". main ."
    "footer footer footer";
  margin: 0 auto;
  font-size: 18px;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: 800px 300px;
  grid-template-rows: auto 250px 370px;
  grid-gap: 20px;
  grid-area: main;
  margin-top: 20px;
}

header {
  grid-area: header;
}

button {
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.newsletters {
  width: fit-content;
}

.newsletters:hover {
  filter: brightness(70%);
}

.email-newsletters:hover {
  text-decoration: underline;
}

.sign-up {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  max-width: 330px;
}

.sign-up :nth-child(1) {
  color: #00b3e5;
}

.sign-up :nth-child(2) {
  color: #999999;
  font-family: serif;
}

.sign-up a {
  text-decoration: none;
}

.logo-container svg{
  width: 350px;
  height: 56px;
}

.subscribe-container button {
  background-color: #00b3e5;
  font-size: 16px;
  padding: 8px 20px;
  transition: all .2s;
}

.subscribe-container button:hover {
  background-color: #008eb6;
}

.sections-wrapper {
  grid-area: nav;
  display: grid;
  border-bottom: 1px solid #bfbfbf;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 1120px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 17px;
  height: 40px
}

.nav-lists {
  display: flex;
}

.nav-lists li {
  margin-right: 10px;
}

.nav-lists li {
  position: relative;
}

.nav-lists li:hover {
  color: #00b3e5;
}

.nav-lists li:before {
  height: 0px;
  background-color: #002837;
  bottom: -12px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  transition: .2s;
  height: 0px;
}

.nav-lists li:hover::before {
  height: .34375rem;
}

.highlighted {
  color: #00b3e5;
  position: relative
}

.highlighted::before {
  height: 0px !important;
}

.highlighted:hover::before {
  height: 0px !important;
}

.highlighted::after {
  background-color: #002837;
  bottom: -12px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  transition: .2s;
  height: .34375rem;
}

.nav-more {
  position: relative;
}

.nav-more::after {
  content: "»";
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
  margin-left: 10px;
  transform: rotate(90deg);
  vertical-align: middle;
}

.shop-topics {
  color: #00b3e5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

.sign-in-container {
  display: flex;
}

.sign-in{
  padding-right: 10px;
}

.sign-in-container div:hover {
  color: #999;
  fill: #999;
  text-decoration: underline;
}

svg {
  height: 1em;
  width: 1em;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

.social-links {
  font-size: 1.5em;
  margin: 0;
}

.social-links ul {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.social-links li {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

.social-links li a{
  border-radius: 50%;
  cursor:pointer;
  padding: 2px;
  vertical-align: baseline;
  line-height: 1.4375rem;
  display: inline-block;
  box-sizing: border-box;
}

.social-links li a:hover {
  opacity: 75%;
}

.article-info {
  font-size: .9em;
  line-height: 1.8em;
  color: rgb(56, 56, 56);
}

.article-info a{
  text-decoration: none;
}

.article-topic {
  color: black;
  font-weight: bold;
}

.author {
  color: #00b3e5;
}

.image-description {
  font-size: 12px;
}

.image-source {
  box-sizing: border-box;
  padding-bottom: 10px;
  color: #4d4d4d;
}

article {
  grid-column: 1;
  grid-row: 1;
}

section {
  font-family: serif;
  box-sizing: border-box;
  margin: 20px 0;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4d4d4d;
  line-height: 1.7em;
}

section a {
  color: #00b3e5;
  text-decoration: none;
}

.read-more {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.read-more a {
  text-decoration: none;
  color: #00b3e5;
}

.reference {
  margin-top: -20px;
  margin-bottom: 10px;
}

strong {
  font-family: sans-serif;
}

.newsletter-ad {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  color: #4d4d4d;
}

.newsletter-ad a {
  color: #00b3e5;
  text-decoration: none;
}

.more-topics {
  font-weight: bold;
  font-size: 16px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.more-topics button {
  background-color: #005587;
}

.more-topics button:hover {
  background-color: #288eb7;
}

.banner {
  background-color: #00b3e5;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-size: 16px;
}

.sponsored-content-container {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(245, 245, 245);
}

.coffee-content {
  display: flex;
  padding: 10px;
}

.coffee-content p {
  font-family: serif;
  font-size: 17px;
}

.coffee-content h2 {
  font-size: 24px;
}

.coffee-content img {
  width: 270px;
  margin-right: 10px;
}

.article-footer {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.issue-ad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.issue-ad img {
  width: 185px;
  grid-column: 1;
  cursor: pointer;
}

.button-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.button-container button {
  cursor: pointer;
}

.button-container :nth-child(1) {
  background-color: #00b3e5;
}

.button-container :nth-child(1):hover {
  background-color: #288eb7;
}

.button-container :nth-child(2) {
  background-color: teal;
}

.button-container :nth-child(2):hover {
  background-color: #5f9ea0;
}

.button-container :nth-child(3) {
  background-color: red;
}

.button-container :nth-child(3):hover {
  background-color: #de1d1d;
}

.more-from {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.more-from-text {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: lighter;
}

.more-from ul {
  display: flex;
  justify-content: space-between;
}

.more-from li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 250px;
  transition: all .2s;
  overflow: hidden;
}

.more-from li:hover {
  color: #00b3e5;
}

.more-from img {
  width: 100%;
  grid-row: 1;
}

.more-from img:hover {
  opacity: 90%;
  transform: scale(1.03);
}

.more-from p {
  font-size: 1.2em;
  font-weight: bold;
  grid-row: 2;
}

.topic-overlay {
  grid-row: 1;
  position: absolute;
  padding: 10px;
  color: white;
  background-color: rgb(61, 61, 61);
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
}

.topic-overlay.second {
  background-color: #d7df21;
}

.topic-overlay.third {
  background-color: #79227d;
}

.topic-overlay.fourth {
  background-color: #548293;
}

.promoted-stories {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .9em;
}

.sidebar-wrapper {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.sidebar {
  position: sticky;
  top: 52px;
  background-color: rgb(245, 245, 245);
  color: #4d4d4d;
  height: auto;
  z-index: 1;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.tabs li {
  border-top: none;
  border-right: 3px solid white;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.tabs li:hover {
  background-color: #ddd;
}

.selected {
  background-color: #00b3e5 !important;
  color: white;
}

.sidebar-list {
  margin: 0;
}

.sidebar-list li {
  border-top: 3px solid white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-style: 22px;
  font-weight: bold;
}

.sidebar-list p {
  padding-right: 20px;
}



.number {
  color: #00b3e5;
  font-size: 40px;
}

.footer-wrapper {
  grid-area: footer;
  background-color: #f5f5f5;
}

footer {
  width: 1120px;
  margin: 0 auto;
  padding-top: 30px;
}

h3 {
  margin: 10px 0;
}

form button:hover {
 background-color: #193c5b;
}

label {
  color: #4d4d4d;
  font-size: 16px;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: serif;
}

input {
  width: 350px;
  font-size: 16px;
  color: #4d4d4d;
  border: none;
  border-bottom: 2px solid black;
  background-color: inherit;
  margin-right: 20px;
  box-sizing: border-box;
  font-family: serif;
}

button[type="submit"] {
  background-color: #005587;
  padding: 10px 70px;
  font-size: 16px;
}

.contact-us {
  width: 1120px;
  border-bottom: 1px solid #4d4d4d;
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

footer li {
  font-family: serif;
  border-right: 1px solid #4d4d4d;
  padding: 0 10px;
  cursor: pointer;
}

footer li:last-child {
  border: 0;
}

footer li:hover {
  color: #00b3e5;
}

.gift-subscriptions {
  padding: 0;
}

.cookies {
  background-color: #005587;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}

.cookies:hover {
  background-color: #288eb7;
}

.footer-links-wrapper{
  margin: 0 auto;
  width: 400px;
}

.links-headers {
  display: flex;
  /* justify-content: space-between; */
}

.links-headers p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-right: 170px;
  white-space: nowrap;
}

.footer-links {
  width: 700px;
}

.footer-links button{
  margin-right: 20px;
  display:inline-block;
  padding: 0;
  background-color: inherit;
  margin-left: -15px;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
}

.footer-links li {
  border: none;
  padding: 0;
  margin-right: 1rem;
}

.follow-us {
  display: inline-block !important;
  overflow: visible;
  margin-left: 10px;
  padding: 0;
  vertical-align: top;
}

.follow-us li {
  height: 26px;
  width: 26px;
}

.follow-us li a {
  border-radius: 50%;
  cursor:pointer;
  padding: 2px;
  vertical-align: baseline;
  line-height: 1.4375rem;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.follow-us svg {
  height: inherit;
  width: inherit;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.copyright-wrapper p {
  font-size: 14px;
  font-family: serif;
}

.back-to-top {
  display: flex;
  align-items: center;
}

.back-to-top p {
  font: inherit;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.back-to-top svg {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.whatsapp {
  background-color: #4dc247;
}

.linkedin {
  background-color: #0077b5;
}

.reddit {
  background-color: #ff5700;
}

.email-icon {
  background-color: #999;
}

.print-icon {
  background-color: #999;
}

.pinterest {
  background-color: #cb2027;
}

.follow-us li a:hover {
  opacity: 75%;
}

.app-store img {
  width: 80%;
}

.play-store img {
  width: 108px;
}